<section>
  <h2>FAQ sur votre assistant IA Lukee</h2>
  <div class="faq-container">
    <div>
      <h3>Qu'est-ce que Lukee ? <span class="toggle-icon">+</span></h3>
      <div class="faq-content">
        <p>Lukee est un assistant IA qui vous permet de générer des publication LinkedIn rapidement à partir d'une idée ou d'un concept.</p>
      </div>
    </div>
    <div>
      <h3>Comment fonctionne Lukee ? <span class="toggle-icon">+</span></h3>
      <div class="faq-content">
      <p>Lukee est basé sur l'API d'OpenAI, connu pour son assistant IA chatGPT. Nous avons utilisé les modèles existants d'openAI et ensuite nous les avons entraîné pendant plusieurs mois sur des prompts personnels pour la génération de publication LinkedIn. Chaque publication a été testée en live et nous n'avons gardé que les meilleures pour créer notre propre modèle. Ainsi, bien que basé sur les mêmes modèles que ChatGPT, Lukee propose des réponses avec un meilleur indice de pertinence que les assistant classique.</p>
      </div>
    </div>
    <div>
      <h3>Est-ce plus performant que chatGPT 4 ? <span class="toggle-icon">+</span></h3>
      <div class="faq-content">
      <p>Oui et pour plusieurs raisons : </p>
        <ul>
          <li>Notre modèle est entraîné sur des centaines de publications à succès. Ainsi nous pouvons concatainer un nombre de tokens largement plus conséquent que ce que chatGPT4 est capable d'analyser.</li>
          <li>Lors de votre génération de publication sur Lukee, votre demande passe par plusieurs prompts complexe nous permettant de reproduire une réponse humanisée et originale. Un défaut difficile à résoudre avec chatGPT4 même si vous travaillez avec un prompt bien formé.</li>
          <li>Enfin, notre modèle est en moyenne 2x plus rapide pour créer une publication d'une qualité largement supérieure à chatGPT4. Vous permettant ainsi de développer plusieurs requête du même prompt plus rapidement pour augmenter les chances d'établir une publication qui vous convient parfaitement.</li>
        </ul>
      <p>Il est important de rappeler que la qualité des publications restera proportionnelle a la qualité de votre demande. Moins vous apporter de contexte à la génération de publication, moins vous avez de chance d'obtenir une publication pertinente à la première tentative.</p>
      </div>
    </div>
    <div>
      <h3>Lukee est déjà en ligne ? <span class="toggle-icon">+</span></h3>
      <div class="faq-content">
      <p>Oui, votre assistant est en ligne et prêt à vous accompagner dans votre conquête de votre personal branding.</p>
      <p>Vous pouvez créer un compte gratuitement et commencer à générer des publications LinkedIn</p>
      <p>Actuellement Lukee est en beta. Cela signifie que nous continuons à développer notre application pour la rendre aussi performante que possible.</p>
      <a class="cta-primary" href="https://app.lukee.io/">Créer un compte gratuitement</a>
      </div>
    </div>
    <div>
      <h3>Quel est le tarif de Lukee ? <span class="toggle-icon">+</span></h3>
      <div class="faq-content">
      <p><strong>Gratuit, mais attention, ça ne va pas durer.</strong></p>
      <p>Pour le moment, Lukee est ouvert totalement gratuitement afin de vous permettre de le tester et nous permettre de développer la première version. Au fur et à mesure du développement, nous appliquerons des limites d'utilisation par crédits. Dans l'avenir, et dans un but de rentabilité, nous développerons des nouvelles fonctionnalités premium et des forfait de crédits pour étendre vos possibilités. Nous vous avertirons par email des évolutions dans la tarification de Lukee. Le plus important est que la création d'un compte est gratuit sans aucune demande de moyen de paiement.</p>
      </div>
    </div>
    <div>
      <h3>La connexion avec LinkedIn est obligatoire ? <span class="toggle-icon">+</span></h3>
      <div class="faq-content">
      <p>L'authentification LinkedIn est la seule option disponible pour vous permettre de créer un compte dans la présente version de Lukee. Il nous semblait que ce soit le moyen le plus pertinent afin de vous proposer une preview de vos publications "comme sur LinkedIn". La connexion avec LinkedIn nous permet de récupérer votre image de profil, votre email et nous demandons également l'autorisation pour pouvoir publier, modifier et supprimer des publications et des commentaires sur votre profil. Sans ces autorisations, il ne nous est pas possible de vous proposer d'accéder aux fonctionnalités de Lukee. Si vous êtes opposé à nous autoriser ses accès, n'hésitez pas à nous le notifier. Nous pourrons à l'avenir prévoir une version limitée à Lukee accessible par credentials (email et mot de passe.)</p>
      <p>Si vous vous posez des questions sur la sécurité de permettre l'autorisation à votre compte LinkedIn par Lukee, nous pouvons vous conseiller de lire les informations sur le OAuth LinkedIn. LinkedIn restreint et sécurise ses accès par API et il est important pour nous de préciser que nous sommes identifiés par LinkedIn afin d'utiliser son API et signataire de leur réglèment et charte d'utilisation des données des utilisateurs.</p>
      <p>Enfin, vous pouvez à tout moment nous contacter pour nous demander de supprimer de nos bases de données toutes les données vous concernant. Nous nous engageons à répondre à votre demande dans les 15 jours suivant votre demande.</p>
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    text-align: center;
    font-size: 2em;
  }
  .faq-container {
    max-width: 600px;
    margin: 4rem auto;
  }
  .cta-primary {
    display: inline-block;
    margin: 1rem 0;
  }
  .faq-content {
  max-height: 0; 
  overflow: hidden; 
  opacity: 0; 
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
  .faq-container div.active .faq-content {
  max-height: 1000px; 
  opacity: 1;
  }
  h3 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  ul {
    margin-left: 0;
    list-style: disc;
  }
  li {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
  .toggle-icon {
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.5s ease;
}

.faq-container div.active .toggle-icon {
  transform: rotate(225deg); 
}
@media screen and (max-width: 600px) {
  .faq-container {
    margin: 2rem auto;
  }
  h2 {
    font-size: 1.5em;
  }
  .faq-container div.active .faq-content {
  max-height: 1500px; 
  opacity: 1;
  }
}
</style>

<script is:inline>
document.addEventListener('DOMContentLoaded', function () {
  const faqSections = document.querySelectorAll('.faq-container > div');

  faqSections.forEach(section => {
    const header = section.querySelector('h3');
    const faqContent = section.querySelector('.faq-content');
    const toggleIcon = section.querySelector('.toggle-icon');

    header.addEventListener('click', function () {
      const isActive = section.classList.contains('active');

      faqSections.forEach(s => {
        s.classList.remove('active');
        const content = s.querySelector('.faq-content');
        const icon = s.querySelector('.toggle-icon');
        if (content) {
          content.style.maxHeight = '0';
          content.style.opacity = '0';
        }
        if (icon) {
          icon.style.transform = 'rotate(0deg)';
        }
      });

      if (!isActive) {
        section.classList.add('active');
        if (faqContent) {
        faqContent.style.maxHeight = '1500px';
        faqContent.style.opacity = '1';
        }
        if (toggleIcon) {
        toggleIcon.style.transform = 'rotate(225deg)';
        }
      }
    });
  });
});
</script>