		<section>
			<h2>Les fonctionnalités phares de ton assistant rédacteur LinkedIn</h2>
			<div class="lukee-benefits">
				<div>
					<h3>Rédaction de publication LinkedIn</h3>
					<p>Simple mais efficace. Tu proposes une idée à développer et Lukee rédige pour toi une première version d'une publication LinkedIn optimisée pour le reach. Apporte ensuite quelques retouches afin de bien t'approprier la publication et tu peux l'envoyer directement depuis Lukee sur ton profil.</p>
				</div>
				<div>
					<h3>Des modèles d'IA différents selon tes besoins</h3>
					<p>Développer plusieurs voix, c'est aussi te permettre de trouver la tienne. La puissance de Lukee réside dans ses modèles que nous avons entraînés sur plusieurs centaines de publications testées et approuvées. L'entraînement n'est jamais fini et nous pensons déjà à développer d'autres modèles. Peut être un basé sur toi prochainement ...</p>
				</div>
				<div>
					<h3>Programme tes publications à l'avance pour LinkedIn</h3>
					<p>Créer ton programme de publications pour les prochaines semaines. Depuis Lukee tu peux programmer tes publications à l'avance selon les horaires que tu as choisis. Ainsi ta notoriété LinkedIn gagne en valeur sans le moindre effort.</p>
				</div>
			</div>
      <div class="idea">
        <h3>Et beaucoup d'autres fonctionnalités à venir pour vous aider dans votre stratégie LinkedIn</h3>
        <p>Nous sommes au tout début de l'aventure Lukee. Les idées de nouvelles fonctionnalités fourmillent dans nos têtes. Mais nous souhaitons avant tout que Lukee soit votre meilleur allié. C'est pourquoi vous pouvez participer au choix des prochaines fonctionnalités et nous proposer vos propres idées !</p>
        <a class="cta-secondary" href="https://lukee.canny.io/">Voir la roadmap produit</a>
      </div>
		</section>

    <style>
    .lukee-benefits {
		  display: flex;
		  justify-content: space-between;
      gap: 35px;
      padding: 4rem 0;
	  }
    .lukee-benefits div {
      width: 30%;
      padding: 1rem 3rem;  
      box-shadow: 0 0 30px rgba(0,0,0,0.05);
      border-radius: 25px;
    }
    h2 {
      text-align: center;
      font-size: 2rem;
      max-width: 600px;
      margin: 0 auto;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
    .idea {
      padding: 2rem 0;
      text-align: center;
    }
    .idea p {
      font-size: 1rem;
      line-height: 1.8rem;
      text-align: center;
      max-width: 800px;
      margin: 0 auto;
    }
    @media screen and (max-width: 768px) {
      .lukee-benefits {
        flex-direction: column;
        justify-content: center;
        max-width: 80%;
      }
      .lukee-benefits div {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    </style>