		<section>
			<div class="flex-container">
				<div class="flex-container_center">
					<img src="/icon-luckee.svg" width="250" alt="">
				</div>
				<div>
					<p>Hello ! Moi c'est Lukee</p>
					<h2>Ton assistant IA pour t'aider à élaborer et développer ta ligne éditoriale sur LinkedIn</h2>
					<p>Je base ma connaissance sur l'API d'OpenAI (chatGPT) couplé à un entraînement sur des centaines de publications LinkedIn qui ont fait leurs preuves pour obtenir du reach et développer une vraie communauté engagée.</p>
					<h3>Je suis programmé pour te faciliter ta rédaction des publications sur LinkedIn.</h3>
					<p>Avec mes différents paramètres, tu peux réaliser en quelques secondes des publications optimisées pour le reach.</p>
					<h3>De la rédaction jusqu'à la publication sur LinkedIn, en passant par la programmation des publications</h3>
					<p>Je m'occupe pour toi de les publier sur ton profil et de tenir ton calendrier de publication à jour. Ainsi tu peux préparer des semaines de publications afin de t'assurer de ne plus louper d'opportunités sur LinkedIn.</p>
					<div class="cta-container">
						<a href="https://app.lukee.io/signup" class="cta-primary">Essayer Lukee Gratuitement</a>
					</div>
				</div>
			</div>
		</section>

<style>
  section {
    background-color: #1a1f3008;
  }
  .flex-container > div {
		width: 50%;
	}
	.flex-container_center {
		text-align: center;
	}
	.cta-container {
		margin: 3rem 0;
	}
	@media screen and (max-width: 768px) {
		.flex-container {
			flex-direction: column;
		}
		.flex-container > div {
			width: 100%;
		}
	}
</style>