<section>
  <h2>Ils utilisent Lukee pour leur stratégie LinkedIn</h2>
  <div class="testimonials">
    <div class="testimonial">
      <div class="testimonial-header">
        <img src="https://media.licdn.com/dms/image/D4E03AQELR2EGe1lYqg/profile-displayphoto-shrink_100_100/0/1696251409202?e=1710374400&v=beta&t=913f0G8D0F9VGf9XsmUlMsXqKc-R9BKmkKaHj1t7jIU" width="50" alt="Isabelle SERVAIS">
        <h3>Isabelle SERVAIS</h3>
      </div>
      <p>« Ce message pour vous dire que je suis impressionnée par Lukee que je viens de tester. Le résultat que j'ai obtenu avec mon prompt pondu en quelques secondes est tellement pertinent que j'ai peur de le publier sur les réseaux et de ne pas assumer ahahah »</p>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("/banniere-lukee.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
  }
  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .testimonial {
    max-width: 25%;
    background-color: #fff;
    padding: 1rem 3rem;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    border: 4px solid #1a1f30
  }
  .testimonial-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .testimonial-header img {
    border-radius: 50%;
  }
</style> 