---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="header-container">
			<p><span>Lukee 0.4 est en ligne !</span></p>
			<h1>Gagnez du temps dans la rédaction de vos publications LinkedIn</h1>
		</section>
	</main>
</Layout>

<style>
	.header-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.header-container h1 {
		font-size: 3.6rem;
		text-align: center;
		max-width: 1000px;
		margin: 0 auto;
	}
	.header-container p span {
		padding: 0.5rem 1.5rem;
		background-color: #81ffb391;
		border-radius: 50px;
		font-weight: bold;
		color: #1a1f30;
	}
</style>
