<header>
  <section>
    <nav>
      <div>
        <img src="/logo-lukee.svg" alt="logo lukee generateur de publications linkedin" width="80">
      </div>
      <ul>
        <li>
          À propos
        </li>
      </ul>
    </nav>
  </section>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
</style>