---
import DropDownMenu from './Nav/DropDownMenu.vue'
---

<header>
  <section>
    <div class="drop">
      <div>
        <a href="/"><img src="/logo-lukee.svg" alt="logo lukee generateur de publications linkedin" width="80"></a>
      </div>
      <DropDownMenu client:load />
    </div>
    <nav class="desktop-nav">
      <div>
        <a href="/"><img src="/logo-lukee.svg" alt="logo lukee generateur de publications linkedin" width="80"></a>
      </div>
      <ul class="nav-elements">
        <li>
          <a href="https://app.lukee.io/signin">Connexion</a>
        </li>
        <li>
          <a href="https://app.lukee.io/signup" class="cta-primary">Inscrivez-vous gratuitement</a>
        </li>
      </ul>
    </nav>
  </section>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  ul {
    display: flex;
    gap: 15px;
  }
  a {
    color: #1a1f30;
    font-weight: bold;
  }
  li {
    list-style: none;
  }
  .cta-primary {
    color: #fff;
    padding: 0.5rem 1.4rem;
  }
  .drop {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .desktop-nav {
      display: none;
    }
    .drop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }
</style>