---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon-luckee.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	body {
		font-family: 'Satoshi', sans-serif;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Satoshi', sans-serif;
		font-weight: bold;
	}

	section {
		padding: 2rem 14%
	}
</style>
