---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon-luckee.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Satoshi';
		src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}
	body {
		font-family: 'Satoshi', sans-serif;
		margin: 0
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Satoshi', sans-serif;
		font-weight: bold;
	}
	h2 {
		line-height: 2.5rem;
	}
	h3 {
		line-height: 2.1rem;
	}
	p {
		font-size: 1.2rem;
		line-height: 2rem;
	}
	a {
		text-decoration: none;
		color: #F24957
	}
	section {
		padding: 3rem 14%
	}
	.cta-primary {
		background-color: #F24957;
		border: none;
		border-radius: 50px;
		padding: 1rem 2rem;
		font-size: 1rem;
		font-weight: bold;
		margin: 1.5rem 0;
		cursor: pointer;
		color: #fff;
	}
	.cta-secondary {
		background-color: #1a1f3020;
		color: #1a1f30;
		border: none;
		border-radius: 50px;
		padding: 1rem 2rem;
		margin: 2rem 0;
		display: inline-block;
		font-size: 1rem;
		font-weight: bold;
		margin: 1.5rem 0;
		cursor: pointer;
	}
	.flex-container {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 768px) {
		section {
			padding: 2rem 7%;
			width: 100%
		}
		
	}
</style>
